## Data visualisation

In [1]:
from importlib import reload 
import datakit
reload(datakit)
from datakit import *
import os
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

### Load data

In [3]:
df = concat_csv_files()
df = remove_duplicates(df)
df = scrub_data(df)

In [4]:
df.sample(5).head(5)

,rent_price,area,room_num,floor,building_type,extra_space,advertiser_type,students_allowed,elevator,parking_space,year_of_construction,additional_information,latitude,longitude,approximate_coordinates,district,subway_distance,center_distance,is_furnished,dishwasher,air_conditioning,for_renovation,building_height
4999,3500.0,25.0,1,1.0,blok,NaN,prywatny,0,0,0,1965.0,tylko dla niepalących,52.250532,20.984486,0,Wola,1.284,2.988,1,0,0,0,4.0
6787,6700.0,65.0,3,3.0,NaN,NaN,biuro nieruchomości,0,0,0,NaN,NaN,52.227070,21.026620,0,Srodmiescie,1.138,1.025,0,0,0,0,4.0
4849,3201.0,33.0,2,3.0,apartamentowiec,NaN,prywatny,0,1,1,2015.0,tylko dla niepalących,52.290986,20.940013,0,Bielany,3.064,8.401,1,0,0,0,6.0
518,3000.0,65.0,3,1.0,blok,NaN,biuro nieruchomości,0,0,0,1998.0,NaN,52.291328,21.056521,1,Targowek,0.927,7.487,0,0,0,1,3.0
4774,3550.0,55.0,2,4.0,apartamentowiec,balkon,biuro nieruchomości,0,1,1,2018.0,oddzielna kuchnia,52.206449,21.049252,0,Mokotow,2.790,3.613,1,0,0,0,8.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, 0 to 10549
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rent_price               9999 non-null   float64
 1   area                     9999 non-null   float64
 2   room_num                 9999 non-null   int32
 3   floor                    9668 non-null   float64
 4   building_type            8032 non-null   object
 5   advertiser_type          9999 non-null   object
 6   students_allowed         9999 non-null   int32
 7   elevator                 9999 non-null   int32
 8   parking_space            9999 non-null   int32
 9   year_of_construction     7123 non-null   float64
 10  latitude                 9999 non-null   float64
 11  longitude                9999 non-null   float64
 12  approximate_coordinates  9999 non-null   int32
 13  district                 9999 non-null   object
 14  subway_distance          9999 non-null   float64
 15  center_distance          9999 non-null   float64
 16  is_furnished             9999 non-null   int32
 17  dishwasher               9999 non-null   int32
 18  air_conditioning         9999 non-null   int32
 19  for_renovation           9999 non-null   int32
 20  building_height          9102 non-null   float64
dtypes: float64(9), int32(9), object(3)
memory usage: 1.3+ MB

In [25]:
df.columns[df.isna().any()].tolist()

['floor', 'building_type', 'year_of_construction', 'building_height']

In [27]:
df1 = modeling_preprocessing(df)
df1

,rent_price,area,room_num,floor,building_type,advertiser_type,students_allowed,elevator,parking_space,year_of_construction,latitude,longitude,approximate_coordinates,district,subway_distance,center_distance,is_furnished,dishwasher,air_conditioning,for_renovation,building_height
0,4679.0,38.71,2,8.0,apartamentowiec,prywatny,1,1,1,2021.0,52.232194,21.036320,0,Srodmiescie,1.043,1.666,1,1,0,0,11.0
1,3900.0,52.00,2,3.0,blok,prywatny,0,1,0,2004.0,52.135684,21.064754,0,Ursynow,0.518,11.051,1,0,0,0,5.0
2,4050.0,38.00,2,1.0,blok,prywatny,1,0,0,NaN,52.268943,20.925286,0,Bielany,3.202,7.352,1,1,0,0,4.0
3,13500.0,97.00,3,3.0,apartamentowiec,biuro nieruchomości,0,1,1,2006.0,52.205901,20.996063,0,Mokotow,0.868,2.866,1,0,1,0,3.0
4,2300.0,29.00,1,8.0,NaN,biuro nieruchomości,0,0,0,NaN,52.266559,20.974574,0,Zoliborz,0.600,4.833,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10475,6700.0,57.00,3,9.0,NaN,biuro nieruchomości,0,0,0,NaN,52.187960,20.993940,0,Mokotow,1.597,4.805,1,0,0,0,10.0
10535,500.0,12.00,1,1.0,blok,prywatny,0,0,0,2018.0,52.222245,20.940105,0,Wola,1.864,4.980,0,0,0,0,1.0
10539,3901.5,40.10,2,1.0,apartamentowiec,biuro nieruchomości,0,1,0,2024.0,52.195516,21.177361,0,Wawer,10.207,11.878,1,1,1,0,2.0
10548,6846.7,69.78,3,1.0,apartamentowiec,biuro nieruchomości,0,1,0,2024.0,52.185298,21.203621,0,Wawer,11.135,13.947,1,1,1,0,2.0
10549,3902.7,40.18,2,1.0,apartamentowiec,biuro nieruchomości,0,1,0,2024.0,52.185298,21.203621,0,Wawer,11.135,13.947,1,1,1,0,2.0